.text-center {
  text-align: center;
}

/* move this somewhere more appropriate later */

body {
  background-color: #DDC5DD;
  font-family: 'Alata', sans-serif;
}

.navbar {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.navlist {
  list-style-type: none;
}

.navlist-item {
  display: inline-block;
  margin-right: 50px;
}

.songControls {
  min-height: 150px;
  background-color: #fff;
  width: 70%;
  margin: auto;
}

.songControls button {
  background-color: #C56FC5;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.song-list-container {
  width: 80%;
  margin: auto;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.song-thumb {
  background-color: #fff;
  padding: 5px;
  margin: 10px;
}

.piano {
  margin-bottom: 50px;
  padding: 10px;
}

.piano button {
  background-color: #fff;
  border: none;
  height: 100px;
  margin: 2px;
  border-radius: 0 0 3px 3px;
}

.activeNote {
  animation: 0.5s linear 0s turnYellow;
  background-color: white;
  /* border: 1px solid red; */
}

@keyframes turnYellow {
  0% {background-color: white;}
  50% {background-color: yellow;}
  100% {background-color: white;}
}

